/*@font-face {
    font-family: Quicksand;
    src: url("../62933a2951ef01f4eafd9bdf4d3cd2f0/980d14c0c85495b48b9a9134658e6121/Quicksand/Quicksand-VariableFont_wght.ttf");
}

body {
    font-family: Quicksand, monospace, 'Courier New', Courier;
}*/

.hidden {
    font-family: wingdings;
    font-size: 5px;
    color: #3570de;
    bottom: 10px;
    right: 10px;
    position: fixed;
    margin: 0px 0px 0px 0px; /*Note: top right bottom left*/
}

.hiddenIcon {
    color: #0000000e;
}